
a {
    color: #3D8888;
    text-decoration: none;
    font-weight: normal;
}
a:hover {
    color: #1D4848;
    border:0!important;
}
a:active {
    color: #527bbd;
    text-decoration: underline;
}
/*
style.css: "simple icons" CSS file
author: Nacho Llopis <lloptor@hotmail.com>
date: 04/10/06
license: you may use & modify this work.
please keep it in www.oswd.org.
*/

body {
	font-family: 'Candara','San Francisco';
	font-size: 91%; 
	text-align: center;
	background-color: #3D8888;
	padding-top: 8px;
	color: #000;
}
img { border: 0; }
#container {
	background-color: #0f3254;
	border-radius:3px;
	width: 61.7em;
	text-align: left;
	margin: 0 auto;
	border: .2em solid #aaa;
}
#footer {
	padding: 3px 30px 0px 30px;
	background-color: #3D8888;
	/*padding-top: 1em;*/
	text-align: center;
	width: 61.7em;
	margin-left: auto;
	margin-right: auto;
	border-radius: 0px 0px 1px 1px;
	box-shadow: 0px 0px 0px 0px #111;
}
#footer a{
	color: #333;
}
#intro {
	margin-top:-2px;
	padding: 10px 30px 18px 30px;
	background-color: #FDF6E4;
	/*padding-top: 1em;*/
	width: 61.7em;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-radius: 0px 0px 1px 1px;
	box-shadow: 0px 0px 0px 0px #111;
}
#introP{
	padding: 0px 0px 0px 0px;
	margin-top:-0.2em;
	font-size: 1.07em;
	margin-bottom: -1.3em;
}
#hr {
	margin-top:1.2em;
}
#header {
	padding: 38px 30px 13px 30px;
	background-color: #FDF6E4;
	height: 11.9em;
	/*padding-top: 1em;*/
	width: 61.7em;
	margin: 0 auto;
	text-align: left;
	border-radius: 1px 1px 0px 0px;
	box-shadow: 0px 0px 0px 0px #111;
	}
#header h1 { 	
	margin: 0;
	color: #444;
	font-size: 1.6em;
	font-family: 'Candara';
	margin-top: -0.55em;
	margin-bottom: 0.3em;
	font-weight: normal;
	cursor: default;
	vertical-align:top;
	}	
#header h1#eng { 	
	margin: 0;
	color: #5D5E6f;
	font-size: 1.5em;
	font-family: 'Candara';
	margin-top: -0.3em;
	margin-bottom: 0em;
	font-weight: normal;
	cursor: default;
	vertical-align:top;
	}	
#header h2 { 	
	margin: 0;
	color: #393939;
	font-size: 1.1em;
	margin-top: 0.1em;
	padding-left: 1px;
	cursor: default;
	}
#header h2#eng { 	
	margin: 0;
	color: #5D5E60;
	font-size: 1em;
	padding-left: 1px;
	cursor: default;
	}	
#header p {
	font-size: 1em;
	margin-top: 0.6em;
	margin-bottom: 1.3em;
	/*color: #3D3E40;*/
}
h1#split {
	margin-top: -0.4em;
	color: #9D9Ea0;
	font-size: 1.2em;
	font-weight:bold;
}
h1#split a {
    color: #3D8888;
    text-decoration: none;
    font-weight: bold;
}
h1#split a:hover {
    color: #1D4848;
    border:0!important;
    font-weight: bold;
}
h1#split a:active {
    color: #3D8888;
    text-decoration: underline;
}
hr {
	border: 0.5px solid #8090a0;
}
#header .sidebar {
	position: relative;
	clear:left;
	float: left;
	margin: -1em 2.2em 0 0;
	padding: 0 0 0 0 ;
	height: 106%;
	/*width: 200px;
	height: 202px;
	border: .1em solid #aaa;
	background-color:#aaa;
	*/
}
#header .sidebar2 {
	height: 50%;
	width: 10%;
	/*width: 200px;
	height: 202px;
	border: .1em solid #aaa;
	background-color:#aaa;
	*/
}
	
	
#header .sidebar2 {
	position: relative;
	clear:right;
	float: right;
	margin: 1em 5em 0 0;
	padding: 0 0 0 0;
	/*height: 202px;
	border: .1em solid #aaa;
	background-color:#aaa;
	*/
}
#buttons {
	margin: 0 auto;
	width: 880px;
	}
#buttons div {
	width: 100px;
	float: right;
	height: 80px;
	text-align: center;
	margin:1px;
	}
	
#buttons #s1 {
	no-repeat 50% 0%;
	border-right:1px dashed #ccc;
	}
#buttons #s2 {
	no-repeat 50% 0%;
	border-right:1px dashed #ccc;
	}
#buttons #s3 {
	no-repeat 50% 0%;
	border-right:1px dashed #ccc;
	}
#buttons #s4 {
	no-repeat 50% 0%;
	border-right:1px dashed #ccc;
	}
#buttons #s5 {
	no-repeat 50% 0%;
	border-right:1px dashed #ccc;
	}
#buttons #s6 {
	no-repeat 50% 0%;
	}

#buttons div a{
	color: #8D8E90;
	font-size: 1.2em;
	display: block;
	padding: 50px 0px 0px 0px;
	text-decoration:none;
	}

#buttons div a:hover{
	color: #8D8Eff;
	text-decoration: none;
	}

#buttons .selected{
	text-decoration:underline;
}



#rcontent {
	display:block;
	text-align: right;
	clear:left;
	float:left;
	width: 780px;
	background-color:#FFFFFF;
	padding:15px  0px 0px 0px;
}

#content {
	display:block;
	clear:left;
	width: 61.7em;
	background-color:#FDF6E4;
	margin-top:10px;
	padding:10px 30px 5px 30px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
	border-radius: 1px 1px 1px 1px;
	box-shadow: 0px 0px 0px 0px #111;
}

#content h1 {
	color: #3D8888;
	font-size: 1.2em;
	cursor: default;
	display: block;
	margin: 10px 0px 10px 0px;
	padding: 0;
	border-color: #ddd;
	border-style: solid;
	border-width: 0 0 1px 0;
	border-bottom: 0px dashed #fff;
	font-family: 'Candara';
}

#content h2 {
	color: #8D8E90;
	font-size: 1.0em;
	cursor: default;
	display: block;
	margin: 10px 0 10px 0;
	padding: 0;
	border-color: #ddd;
	border-style: dashed;
	border-width: 0 0 1px 0;
	border-bottom: 0px dashed #fff;

}

#content a {
	color: #3D8888;
	text-decoration: none;
}

#content a:hover {
	color: #1D4848;
}
#content p {
	margin: 0.5em 0 0.5em 0;
}
#content .sidebar {
	position: relative;
	clear:right;
	float: right;
	margin: .5em 0 0 .5em;
	padding: 0 .7em .7em .7em;
	width: 200px;
	font-size: .9em;
	border: 0px solid #ddd;
	background-color:#FFFFFF;
}

#content ul li{
	list-style-image: url(img/list.gif);
	font-size: 1.07em;
	list-style:none;
	list-style-position:inside;
	margin-left:-20px;
    padding:0;
}
#content ul li b#me{
	color: #222;
}
#content ul#pub li {
	margin-bottom: 0em;
}
button {
	background : #ffffff;
	border : 1px solid #ddd;

}
input {
	border : 1px solid #ddd;
	margin : 2px 0px 2px 0px;
	padding : 4px 4px 4px 0px;
	font-family: "Trebuchet MS", Verdana, Tahoma, sans-serif;
}
textarea {
	border : 1px solid #ddd;
	height : 6em;
}
#toumingdu {
	/*background-color:transparent;*/
	opacity:0;
}
#zhedang {
	width: 30px;
    height: 50px;
    background-color: #3D8888;
    position: absolute;
    top:70px;
    left:0px;
}
#map {
	width: 250px;
	height: 120px;
	margin: 0 auto;
	position: relative;
}
